<!DOCTYPE html>
<html>
<head>
	<title>SignUp and Login</title>
	<link rel="stylesheet" type="text/css" href="style1.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">	
</head>
<body>

<div class="container" id="container">
<div class="form-container sign-up-container">

<form action="/UserProfile/Signup" method="POST">
	<h1>Create Account</h1>
	<div class="social-container">
		<a href="#" class="social"><i class="fa fa-facebook"></i></a>
		<a href="#" class="social"><i class="fa fa-google"></i></a>
		<a href="#" class="social"><i class="fa fa-linkedin"></i></a>
	</div>
	<span>or use your email for registration </span>
	<input type="text" required="true" name="usrname" placeholder="Name">
	<input type="email" required="true" name="email" placeholder="Email">
	<input type="password" required="true" name="pwd" placeholder="Password">
	<input type="password" required="true" name="cnfpwd" placeholder="Confirm Password">
	<button type="submit">SignUp</button>
</form>
</div>
<div class="form-container sign-in-container">
	<form action="UserProfile/ResetPassword" method="POST">
		<h1>Reset Password</h1>
	<br>
	<span>Enter your new credentials and verify otp in email</span><br>
	<input type="email" required="true" name="email" placeholder="Email">
	<input type="password" required="true" name="newpwd" placeholder="New Password">
	<input type="password" required="true" name="newcnfpwd" placeholder="Confirm Password">
	<br>
	<button type="submit">Request OTP</button>	

	</form>
</div>

<div class="overlay-container">
	<div class="overlay">
		<div class="overlay-panel overlay-right">
			<h1>Hello, Friend!</h1>
			<p>Enter your new credentials and continue your journey with us</p>
		</div>
	</div>
</div>
</div>

<form style="display:none" id="ForgotPwdForm" action="UserProfile/ResetPassword" method="POST">
	
</form>

<script type="text/javascript">
	const signUpButton = document.getElementById('signUp');
	const signInButton = document.getElementById('signIn');
	const container = document.getElementById('container');

	signUpButton.addEventListener('click', () => {
		container.classList.add("right-panel-active");
	});
	signInButton.addEventListener('click', () => {
		container.classList.remove("right-panel-active");
	});
</script>

<%- include("partials/footer"); -%>









