<!DOCTYPE html>
<html>


<head>
    <title>Quarkx Form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="shortcut icon" href="/images/favicon.ico" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
        integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
</head>

<body>
    <br>
    <br>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
            </div>

            <div class="col-md-6 main">

                <h1> <%= message %> Submitted Successfully</h1>
                <div class="text-center">
                    <a href="/" class="btn btn-info btn-lg rounded-0" role="button" aria-pressed="true"><i
                            class="far fa-hand-point-right fa-1x mr-3"></i>Submit another quark</a>
                    <h4 class="text-info">Or,</h4>
                    <a href="/advertisement" class="btn btn-info btn-lg rounded-0" role="button" aria-pressed="true"><i
                            class="far fa-hand-point-right fa-1x mr-3"></i>Submit another advertisement</a>
                </div>


                <div class="col-md-3">
                </div>

            </div>
        </div>
</body>

</html>