<!DOCTYPE html>
<html>
<title>QuarkX</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source Serif Pro">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/QuarkStylesDesktop.css">
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<link rel="stylesheet" href="/QuarksLargePh.css">
<link rel="stylesheet" href="/ImpLinksStyles.css">

 <meta property="og:url"           content="angshumankashyap.in/QuarkX" />
 <meta property="og:type"          content="website" />
 <meta property="og:title"         content="Join Quarks" />
 <meta property="og:description"   content="Refuel Your Curiosity" />
 <meta property="og:image"         content="images/homeAmoeba.jpg" />
<link rel="stylesheet" href="/w3styles.css">
<link rel="stylesheet" href="/AngzPhStyles.css">

<link rel="icon" href="QuarkOtherImages/QuarksLogoFinal-1.png">

<script src="slickJS/slick.js" type="text/javascript"></script>
<link rel="stylesheet" href= "/slickCss/slick.css">
<link rel="stylesheet" href= "/slickCss/slick-theme.css">

<link rel="stylesheet" href= "/AngzDesktopStyles.css">

<!-- NAV BAR  -->
<link rel="stylesheet" href="/nav.css">
<script src='https://kit.fontawesome.com/a076d05399.js'></script>

<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="https://www.w3schools.com/lib/w3.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.slick/1.5.0/slick.min.js"> </script>

<script src="https://www.w3schools.com/lib/w3.js"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<!-- NEWLY ADDED Google FONT -->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Alegreya&family=Concert+One&family=Lora:ital,wght@1,400;1,600;1,700&display=swap" rel="stylesheet">
<!--     ===================================================================
                              Hemburgar Menu
    ===================================================================
 -->

 <script>
  function openSlideMenu(){
    if (screen.width <=768) {
      document.getElementById('side-menu').style.width = '65vw';
      document.getElementById('main').style.marginLeft = '65vw';
      document.getElementById('wholebody').style = '1';
    }
    else {
      document.getElementById('side-menu').style.width = '25vw';
      document.getElementById('main').style.marginLeft = '25vw';
      document.getElementById('wholebody').style = '1';
    }
  }

  function closeSlideMenu(){
    document.getElementById('side-menu').style.width = '0';
    document.getElementsByClassName('w3-row').style.opacity = '1';
  }
</script>

<body style="width:100vw; overflow-x: hidden;">

<section  id="top-navbar">  
    <div id="side-menu" class="side-nav">
      <a href="#" class="btn-close" onclick="closeSlideMenu()">&times;</a>
      <a href="../TempPay" id="username">HOME</a>
       <!-- <a id="myCoursesTxt" href="MyCourses">My Courses</a> -->
    </div>
 </section>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white" id="myNavbar" style="box-shadow: 3px 3px 3px #A8A8A8 ; width:100vw; max-width:100vw; min-width:100vw;">
    <a id="iconBar" class="w3-bar-item w3-left w3-white" href="javascript:void(0);" onclick="openSlideMenu()" title="Toggle Navigation Menu">
      <i class="fa fa-bars"></i>
    </a>
    <div style="cursor: pointer;" class="w3-bar-item"> <img id="QuarksLogo" src="/QuarkOtherImages/QuarksLogoFinal-1.png"> </div> 
    
    <div style="cursor: pointer;" class="w3-bar-item"><span id="nameQuarks">QuarkX</div>
 
  <!-- Navbar on small screens -->
</div>
</div>

<!-- Lower Nav -->
<section id="MobileNavbar" onclick="closeSlideMenu()">
  <div class="nav">
    <a href="../index" class="navlink">
      <i id="iconNav" class="fas fa-user-astronaut"></i>
      <div id="navName">Angshuman</div>
  </a>
      <a href="#" class="navlink">
        <i id="iconNavNow" class="fas fa-home"></i>
        <div id="navName">Academy</div>
      </a>
      <a href="../QuarkX" class="navlink">
          <i id="iconNav" class="fas fa-meteor"></i>
          <div id="navName">QuarkX</div>
      </a>
  </nav>
</section>

<div id="SecTnC" style="text-align: justify;">

  <div id="allImpTexts">

    <p id="tncHeadTxt">Terms and Conditions:</p>

    <u><p id="tncHeadTxt2">Privacy Policy</p></u>  
    <p id="tnc">We take every step possible to value your trust. We strictly adhere to ethical standards in gathering, using and safeguarding all of the information that you provide. This website is a personal portfolio of Angshuman Kashyap, an alumni of IIT Guwahati and IIM Calcutta, bringing out different products and services for the benefit of the society. QuarkX Academy is an adaptive learning platform for school children - an AI based product by Angshuman Kashyap. Please note that this privacy policy governs your use of this website. Kindly do not use the website or any services or products without reading this. By registering with us, or making use of the website or any products and services, you agree to this privacy policy.</p>
      
    <p id="headingsTnc">User Provided Information</p>  
    <p id="tnc">The website obtains inforation that you provide, which can be categorised as: (a) When you register with us, we obtain your name, email address, phone number and password. Your password is stored in encrypted format so as to keep it secure; (b) when you make transactions to buy a course, we obtain transaction related information, such as your time of buying a course, expiry date of your course, your subscription plan. Kindly note that your transactions in the website are secured with Razorpay and we do not store any information of any mode of payment that you use; (c) we gather information that you provide us while seeking us for help; (d) we keep track of inforation that you enter into our system while making use of our products/services/website, such as, information while taking tests and solving questions. We also record your score and display the leaderboard (for top 10 students which may change) to those who have purchased the course/service/product. When you attempt questions, we record your input to that question to train our model in order to provide you a better user experience. In order to make the best use of our services/products/website, we recommend you to login with your own credentials only. Kindly note that we may use your personal information like email address, phone number and name to show you advertisements and consult with you for any queries, support or marketing. Furthermore, you can, at any time, contact us and let us know that you do not want us to use your personal information for receive marketing, support or other emails or calls.</p> 
    
    <p id="headingsTnc">Automatically Collected Information</p>  
    <p id="tnc">In addition to the information that you provide, the website might collect information automatically, such as the name of the web browser of your device, IP address of your device. We have integrated Razorpay which might ask your personal information for secured payments.</p>   
    
    <p id="headingsTnc">Use of your Personal Information</p>  
    <p id="tnc">We use the information provided by you to train our questions, improve our model/product/service, learn about user's performance analysis while practicing quesstions, and display the score of top 10 students in each leaderboard which can be seen by all those who have access to the same course. We record your score for solving questions to create a competitive enviroment inside the product/service. We do not sell, trade or share your Information to any third party. We may at times provide aggregate statistics about our customers, traffic patterns, and related site information to reputable third parties, however, this information when disclosed will be in an aggregate form and does not contain any of your Personally Identifiable Information. We may disclose information: <br><br> (a) as required by law for any legal process; <br> (b) when we believe in good faith that disclosure is necessary to protect our rights, protect your safety or the safety of others, investigate fraud, address security or technical issues or respond to a government request; <br>(c) to protect against any harm to the rights of the website or its users as required by law; <br> (d) to trusted third party service providers that enable us to provide you a better and secured service (e) Any portion of the Information containing personal data relating to minors provided by you shall be deemed to be given with the consent of the minor's legal guardian. Such consent is deemed to be provided by your registration with us.</p>   
    
    <p id="headingsTnc">Access to your Personal Information</p>  
    <p id="tnc">You can login with your correct login credentials using a valid email id. We provide you obvious ways of changing your login credentials sucs as 'Reset Password'. We ensure security measures to safeguard your profile and Personally Identifiable Information.</p>

    <p id="headingsTnc">Cookies</p>  
    <p id="tnc">We send cookies (small files containing a string of characters) to your computer, in order to uniquely identify your browser. Cookies are used to track your preferences and help you login faster. Most browsers are initially set up to accept cookies, but you can reset your browser to refuse all cookies or to indicate when a cookie is being sent. Some of our features and services may not function properly if your cookies are disabled.</p>

    <p id="headingsTnc">Links</p>   
    <p id="tnc">We may feature links (such as links to our social media profiles pr other links) for lead generation that will take you to websites outside our domain. We are not responsible for the privacy practices of other websites. This privacy policy applies solely to information collected by our Website only.</p>

    <p id="headingsTnc">Security</p>   
    <p id="tnc">We take utmost care in safeguarding your security. The website has an SSL certificate that provides an extra layer of security. Moreover, your password is stored in an encrypted format in our secure database. We also limit acccess to authorized people working in the team. Please be aware that, although we endeavor to provide reasonable security for information we process and maintain, no security system can prevent all potential security breaches.</p>

    <p id="headingsTnc">How do we retain user data?</p>   
    <p id="tnc">Currently, we plan to retain user data while an account is active and for at least three years afterward. We may alter this practice according to legal and business requirements.</p>

    <p id="headingsTnc">Log Information</p>   
    <p id="tnc">When you access our website, the server automatically records the information sent by your web browser to serve your request. Your internet protocol Address, date and time of request, request parameters, browser type, browser language and one or more cookies to uniquely identify your browser.</p>

    <p id="headingsTnc">User Communication</p>   
    <p id="tnc">When you send us emails or write or speak to us, we might retain that information to improve our products/services.</p>

    <p id="headingsTnc">Changes with time to this Statement</p>   
    <p id="tnc">With time, our privacy policy might get updated according to new requirements. So, kindly keep a track of the latest privacy policy before using our website/product/service.</p>

    <p id="headingsTnc">Your Consent</p>   
    <p id="tnc">We believe that, every user of our website/product/service must be in a position to provide an informed consent before proiding us with any of their information. By registering with us, you provide your consent to our collecting, using, handling, storing, updating, deleting and transferring of your information according to our privacy policy. All these processing of your information will take place in India according to this Privacy Policy. If you reside outside India, your information will be transferred, processed and stored in accordance with the applicable data protection laws of India. </p>

    <p id="headingsTnc">Contact Information</p>   
    <p id="tnc">You may contact us at: Jail Road, Near Central Jail, Jorhat, PO: Borbheta, 785004, Assam, India. Reach us to 'abhigyankashyap82@gmail.com' or 'ritzyhunk@gmail.com' or call us at +91 8638108598 for any queries.</p>


    <u><p id="tncHeadTxt2">Terms And Conditions</p></u>
    <p id="tnc">1.  No Proprietary Information may be copied, downloaded, reproduced, modified, republished, uploaded, posted, transmitted or distributed in any way without obtaining prior written permission from Angshuman Kashyap with the mail id being 'ritzyhunk@gmail.com'. Certain contents on the website may belong to third parties. Such contents are reproduced by otaining their consent and all rights of such content belong to the respective third party. We request the third parties to kindly write to us at 'ritzyhunk@gmail.com' or 'abhigyankashyap82@gmail.com', if they find anything that has been reproduced without their consent or if there is a change of their consent. </p>
    <p id="tnc">2. Your use of our Website is solely for your personal use only and not for any sort of commercial use. Any usage of the website other than Personal is prohibited.</p>
    <p id="tnc">3. You are not allowed to sell the website or any product/service or any part of the website.</p>
    <p id="tnc">4. You buy our services/products with your own consent exclusively at our official website <a href="../"><span style="color: blue">https://angshumankashyap.in </span></a> We are not responsible if you buy our product/services from any other sources. We recommend you to write it to us if you find anyone making a sale of our products/services.</p>
    <p id="tnc">5. You are prohibited to stalk or harass other users, the failure of which will lead to your offense.</p>
    <p id="tnc">6. You are prohibited to reverse engineer or try to breach any of our security or technology. This will be treated as an offense.</p>
    <p id="tnc">7. We do not take responsibility for any user's underperformance in any examination. The courses are curated in a way that provides them the best learning experience but you purchase them on your own consent.</p>
    <p id="tnc">8. Interfering with any other person's use of the website is prohibited.</p>
    <p id="tnc">9. The services/products are curated with the best of our knowledge. We are not responsible for any mistakes leading to adverse situations such as failing to clear an examination or an interview.</p>
    <p id="tnc">10. No one is permitted to cause any damage to our Website/Server/Services/Products.</p>
    <p id="tnc">11. Usage of deep-links, page-scrape, robot, spider or any automated deive, program, algorithm or methodology, or any similar manual process, to increase traffic to the website, to access, acquire, copy, reproduce or monitor any portion of the website or the website as a whole is not permitted.</p>
    <p id="tnc">12. Despite of our security measures, the user should understand that no tight security can safeguard data breaches. By registering with us, you agree to losing your valuable information in case of severe data breaches.</p>
    <p id="tnc">13. Your payments are secured with Razorpay. We do not keep a record of any of your card numbers or transaction credentials and are solely not responsible for any breaches as we do not store them at all.</p>
    <p id="tnc">14. You are prohibited to violate any of our terms and conditions.</p>
    <p id="tnc">15. You are prohiited from making any alterations or modifications to any part of our website/products/services.</p>
    <p id="tnc">16. Making available of any virus, trojan horses, worms, spyware, timebombs, cancelbots, or other computer programmes, code, files or such other programs that may harm the website whatsoever is strictly prohibited.</p>
    <p id="tnc">17. Certain contents in the Services/Website/Products may contain opinions and views. We are not responsible for such opinions or any claims resulting from them.</p>
    <p id="tnc">18. The website may display videos from YouTube in some particular sections. We are not responsible for any recommendations by YouTube that displays oter videos or ads.</p>
    <p id="tnc">19. Minors under 18 should take prior permission of their guardians before making use of any our products/services.</p>
    <p id="tnc">20. The products/services offered are digital and solely provided in this official website. We do not take any responsibility of any redistribution in our brand name from other sources.</p>
    <p id="tnc">21. It is your sole responsibility to ensure that the account information provided by you are always accuracte, complete and latest.</p>
    <p id="tnc">22. You agree to defend, stay harmless to all the team members and any person working for us.</p>
    <p id="tnc">23. We provide these terms and conditions and privacy policy to ensure that you agree to and are well aware before using our products/services/website.</p>
    <p id="tnc">24. We strictly prohibit you for marketing any of our products/services/website without a written email from 'ritzyhunk@gmail.com'.</p>
    <p id="tnc">25. All notices will be provided to you by 'quarkx.subscription@gmail.com' or 'ritzyhunk@gmail.com'. You are required to write to us at 'abhigyankashyap82@gmail.com' or 'ritzyhunk@gmail.com' only.</p>
    <p id="tnc">26. You get instant access to a course after its successful payment inside Academy.</p>
    <p id="tnc">27. All the purchased courses inside Academy have a validity of 1 year.</p>
    <p id="tnc">28. A free trial version of any course provides access to the first 3 chapters for 7 days. Thereafter, that course would expire.</p>
    <p id="tnc">29. You can buy a course as many times as you want. That will renew your validity, counting 1 year from the latest time of payment.</p>
    <p id="tnc">30. For any further queries, reach us at '+91 8638108598' or write to us at 'ritzyhunk@gmail.com' or 'abhigyankashyap82@gmail.com'. We give our best in resolving your queries.</p>

    </div>
</div>

</html>