#SubjectName {
	font-family: cursive;
	margin-top: 6vw;
	/*font-family: 'Source Serif Pro';*/
	font-size: 5vw;
	text-transform: uppercase;
	color:white;
	padding: 7vw;
	background-color: black;

}	

#Chapters {
	font-family: 'Source Serif Pro';
	font-size: 2vw;
	margin-left: 2vw;
	padding-top: 1vw; 
	text-transform: uppercase;
}

#conceptName {
	font-size: 1.6vw;
	width: 12vw;
	height:5vw;
	overflow: hidden;
	text-align: center;
	margin-left: -0.5vw;
	margin-top: 1vw;
	font-family: cursive;
}

#conceptImage {
	margin-left: 3vw;
	margin-top: 1vw;
	height: 5vw;
	width: 5vw;
}

#conceptBlocks {
	overflow-x: scroll;
	padding-right: 1vw;
	-ms-overflow-style: none;
 	scrollbar-width: none;
	 display: flex;
	 flex-wrap: wrap;
}


#conceptBlocks::-webkit-scrollbar {
  display: none;
}

#conceptBlocks li{
	display: inline-block; 
	padding: 2vw;
	width: 15vw;
	height: 15vw;
	margin-left: 3vw;
	margin-top: 2vw;
	margin-bottom: 2vw;
	white-space: normal;
	border-radius: 8px;
}

#conceptBlocks li:hover{
	cursor: pointer;
	transform: scale(1.02);
	transition: transform .1s ease;
}

#chapterConceptCard {
	margin-bottom: 0vw;
	white-space: nowrap;
}

#whiteStrip{
	background: white;
	visibility: hidden;
	font-size: 0.26vw;
}

#myProgress {
  width: 100%;
  background-color: #ddd;
}

#myBar {
  width: 1%;
  height: 1.75vw;
  margin-top: 0.25vw;
  background-color: orange;
}

#accuracyText {
	margin-left: 2.75vw;
	font-size: 1vw;
	font-family: 'Quicksand';
	font-style: italic;
}

.glow {
  font-size: 80px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

#userName {
	margin-bottom: 1vw;
	font-family: cursive;
	text-decoration: none;
}

#userImage {
	height: 7vw;
	width: 7vw;
}

@keyframes glow {
	from {
	  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
	}
	
	to {
	  text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
	}
  }

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

@media only screen and (max-width:600px){

	#XinName{
		font-size: 4vw;
	}

	#firstStrip {
		height:60vw;
		width: 100vw;
		background: black;

		/*background:-moz-linear-gradient(top, white 0%, red 100%); 
		background: -webkit-linear-gradient(top, white 0%,red 100%); 
		background: linear-gradient(to bottom, #bbb 0%, #bbb 100%);
	 */
	}

	#SubjectName {
		font-family: 'Quicksand';
		/*font-family: 'Source Serif Pro';*/
		font-size: 9.5vw;
		text-transform: uppercase;
		color:white;
		padding: 25vw;	
		margin-top: 20vw;
		background-color: black;

	}	

	#conceptBlocks li{
		display: inline-block; 
		padding: 2vw;
		width: 37vw;
		margin-left: 5vw;
		height: 37vw;
		margin-top: 5vw;
		margin-bottom: 2vw;
		white-space: normal;
		border-radius: 8px;		
	}
	
	#conceptImage {
		margin-left: 10vw;
		margin-top: 1vw;
		height: 14vw;
		width: 14vw;
	}

	#conceptName {
		font-size: 5vw;
		width: 35vw;
		height:15vw;
		overflow: hidden;
		text-align: center;
		margin-left: -1vw;
		margin-top: 2vw;
		font-family: 'Quicksand';
	}

	#myProgress {
		width: 100%;
		background-color: #ddd;
	  }
	  
	  #myBar {
		width: 1%;
		height: 5vw;
		margin-top: 0.25vw;
		background-color: orange;
	  }
	  
	  #accuracyText {
		  margin-left: 5vw;
		  font-size: 3.5vw;
		  font-family: 'Quicksand';
		  font-style: italic;
	  }
	  
	#chapterConceptCard {
		margin-bottom: 0vw;
		white-space: nowrap;
		margin-top: 10vw;
		margin-left: -8vw;
	}

}