#SubjectName {
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	margin-top: 6vw;
	/*font-family: 'Source Serif Pro';*/
	font-size: 5vw;
	text-transform: uppercase;
	color:white;
	padding: 7vw;
	padding-bottom: 12vw;
	background-color: black;
}	

#IndicatorTxt {
	display: inline-block;
	font-size: 1.5vw;
	margin-left: 5vw;
}

#IndicatorTxtCorrect {
	margin-left: 20vw;
}

#IndicatorTxtC, #IndicatorTxtW, #IndicatorTxtS, #IndicatorTxtU {
	display: inline-block;
	font-size: 1.5vw;
	text-align: center;
	width:10vw;
}

#colorId {
	margin-left: 20vw;
	margin-top: -1vw;
	margin-bottom: 0.5vw;
	width: 80vw;
}

#colorId2 {
	margin-left: 0vw;
	margin-bottom: 2vw;
	width: 100vw;
}

#IndicatorTxtC {
	margin-left: 23.5vw ;
}

#IndicatorTxtW {
	margin-left: 0.8vw ;
}

#IndicatorTxtS {
	margin-left: 1.5vw ;
}

#IndicatorTxtU {
	margin-left: 3.25vw ;
}


#Chapters {
	font-family: 'Source Serif Pro';
	font-size: 2vw;
	margin-left: 2vw;
	padding-top: 1vw; 
	text-transform: uppercase;
}

#conceptName {
	font-size: 1.6vw;
	width: 12vw;
	height:5vw;
	overflow: hidden;
	text-align: center;
	margin-left: -0.5vw;
	margin-top: 1vw;
	font-family: 'Lora', serif;
}

#conceptImage {
	margin-left: 3vw;
	margin-top: 1vw;
	height: 5vw;
	width: 5vw;
}

#conceptBlocks {
	 display: flex;
	 flex-wrap: wrap;
}


#conceptBlocks::-webkit-scrollbar {
  display: none;
}

#conceptBlocks li{
	display: inline-block; 
	padding: 2vw;
	width: 15vw;
	height: 15vw;
	margin-left: 3vw;
	margin-top: 2vw;
	margin-bottom: 2vw;
	white-space: normal;
	border-radius: 8px;
}

#conceptBlocks {
	display: flex;
	flex-wrap: wrap;
	width: 100vw;
	min-width: 100vw;
	max-width: 100vw;
}

#conceptBlocks li:hover{
	cursor: pointer;
	transform: scale(1.02);
	transition: transform .1s ease;
}

#chapterConceptCard {
	margin-bottom: 10vw;
	margin-top: 0vw;
	margin-left: 0vw;
	width: 100vw;
	min-width: 100vw;
	max-width: 100vw;
	overflow: hidden;
	white-space: nowrap;
	margin-bottom: 10vw;
	white-space: nowrap;
}

#whiteStrip{
	background: white;
	visibility: hidden;
	font-size: 0.26vw;
}

#myProgress {
  width: 100%;
  background-color: #ddd;
}

#myBar {
  width: 1%;
  height: 1.75vw;
  margin-top: 0.25vw;
  background-color: orange;
}

#accuracyText {
	margin-left: 2.75vw;
	font-size: 1vw;
	font-family: 'Quicksand';
	font-style: italic;
}

.glow {
  font-size: 80px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

#username {
	margin-bottom: 1vw;
	font-family: cursive;
	text-decoration: none;
}

#userImage {
	height: 7vw;
	width: 7vw;
}

#myCoursesTxt {
	font-family: 'Times New Roman', Times, serif;
	text-transform: uppercase;
	color:white;
	margin-top: 2vw;
	font-size: 2vw;
}

#logOutTxt {
	font-family: 'Times New Roman', Times, serif;
	text-decoration: none;
}

@keyframes glow {
	from {
	  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
	}
	
	to {
	  text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
	}
  }

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

@media only screen and (max-width:600px){

	#QuarksLogo{
		margin-left: -4vw;
		height: 12.5vw;
		width: 12.5vw;
		margin-top:1.25vh;
	}
	
	#nameQuarks{
		font-family: 'Quicksand';
		font-size: 10vw;
		text-decoration: none;
		margin-left: -4vw;
		color:black;
		position:absolute;
	}

	#SubjectName {
		font-size: 9.5vw;
		text-transform: uppercase;
		color:white;
		padding-top: 20vw;
		padding-bottom: 40vw;	
		margin-top: 19vw;
		background-color: black;
		max-width:100vw;
		margin-left: 0vw;
		margin-bottom: 2vw;
		font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
	}	

	#conceptBlocks li{
		display: inline-block; 
		padding: 2vw;
		width: 37vw;
		margin-left: 6vw;
		height: 42vw;
		margin-top: 7.5vw;
		margin-bottom: 2vw;
		white-space: normal;
		border-radius: 8px;
	}
	
	#conceptImage {
		margin-left: 10vw;
		margin-top: 2vw;
		height: 14vw;
		width: 14vw;
	}

	#conceptName {
		font-size: 5vw;
		width: 35vw;
		height:18vw;
		overflow: hidden;
		text-align: center;
		margin-left: -1vw;
		margin-top: 3.5vw;
		font-family: 'Lora', serif;
	}

	#myProgress {
		width: 90%;
		margin-left: 5%;
		background-color: #ddd;
	  }
	  
	  #myBar {
		width: 1%;
		height: 5vw;
		margin-top: 0.2vw;
		background-color: orange;
	  }
	  
	  #accuracyText {
		  margin-left: 5vw;
		  font-size: 3.5vw;
		  font-family: 'Quicksand';
		  font-style: italic;
	  }
	  
	#chapterConceptCard {
		margin-bottom: 10vw;
		margin-top: 0vw;
		margin-left: 0vw;
		width: 96vw;
		overflow: hidden;
		white-space: nowrap;
	}

	#conceptBlocks {
		display: flex;
		flex-wrap: wrap;
		margin :auto;
		padding: 0;
		width: 96vw;
		min-width: 96vw;
		max-width: 96vw;
   }

   #conceptBlocks li{
		display: inline-block; 
		margin:auto;
		margin-top: 5vw;
		margin-bottom: 5vw;
		white-space: normal;
		border-radius: 8px;
	}
		
	#logOutTxt {
		color: white;
		font-size: 5vw;
		font-family: 'Times New Roman', Times, serif;
		text-decoration: none;
	}

	#username {
		margin-bottom: 1vw;
		font-family: cursive;
		text-decoration: none;
		font-size: 5vw;
		color:white;
		margin-left:9vw;
	}

	#userImage {
		height: 24vw;
		width: 24vw;
	}

	#myCoursesTxt {
		font-family: 'Times New Roman', Times, serif;
		text-transform: uppercase;
		color:white;
		margin-top: 10vw;
		font-size: 5vw;
	}
}


figure {
	margin: 0 auto;
	max-width: 100vw;
	position: relative;
}
.graphic {
	padding-left: 30px;
	margin-top: -10vw;
	margin-left: 15vw;
	margin-right: 15vw;	
}
.row {
	margin-bottom: 1.5em;
}
@keyframes expand {
	from {width: 0%;}
	to {width: 100%;}
}
@media screen and (min-width: 768px) {
	@keyframes expand {
		from {width: 0%;}
		to {width: calc(100% - 75px);}
	}
}
.chart {
	overflow: hidden;
	width: 0%;
	animation: expand 1.5s ease forwards;
}
.row + .row .chart {
	animation-delay: .2s;
}
.row + .row + .row .chart {
	animation-delay: .4s;
}
.block {
	display: block;
	height: 3.75vw;
	color: #fff;
	font-size: .75em;
	float: left;
	background-color: green;
	position: relative;
	overflow: hidden;
	opacity: 1;
	transition: opacity, .3s ease;
	cursor: pointer;
}
.block:nth-of-type(2),
.legend li:nth-of-type(2):before {
	background-color: #CD3615;
}
.block:nth-of-type(3),
.legend li:nth-of-type(3):before {
	background-color: #1596CD;
}
.block:nth-of-type(4),
.legend li:nth-of-type(4):before {
	background-color: #565454;
}

.block:hover {
	opacity: .65;
}
.value {
	display: block;
	line-height: 1em;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%);
}
.x-axis {
    text-align: center;
	padding: .5em 0 2em;
}
.legend {
    margin: 0 auto;
    padding: 0;
	font-size: .9em;
}
.legend li {
    display: inline-block;
    padding: .25em 1em;
    line-height: 1em;
}
.legend li:before {
    content: "";
    margin-right: .5em;
    display: inline-block;
    width: 8px;
    height: 8px;
	background-color: #334D5C;
}
@media screen and (min-width: 768px) {
	.block {
		font-size: 1em;
	}
	.legend {
		width: 50%;
	}
}

@media screen and (max-width: 767px) {

figure {
	margin: 0 auto;
	max-width: 100vw;
	position: relative;	
}
.graphic {
	padding-left: 0px;
	margin-top: -30vw;
	margin-left: 10vw;
	margin-right: 10vw;
}

.block {
	height: 7vw;
	font-size: .75em;
}

#IndicatorTxt {
	display: inline-block;
	font-size: 3.25vw;
	margin-left: 0vw;
}

#colorId {
	margin-left: 20vw;
	margin-top: 0vw;
	margin-bottom: 8vw;
	width:80vw;

}

#colorId2 {
	margin-left: 0vw;
	margin-bottom: 5vw;
	width: 100vw;
	margin-top: -7vw;
}

#IndicatorTxtCorrect {
	margin-left: 20vw;
}

#IndicatorTxtC, #IndicatorTxtW, #IndicatorTxtS, #IndicatorTxtU {
	display: inline-block;
	font-size: 3.25vw;
	text-align: center;
	width:10vw;
}

#IndicatorTxtC {
	margin-left: 23.5vw ;
}

#IndicatorTxtW {
	margin-left: 3vw ;
}

#IndicatorTxtS {
	margin-left: 3vw ;
}

#IndicatorTxtU {
	margin-left: 8vw ;
}

}