#SubjectName {
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	margin-top: 5vw;
	/*font-family: 'Source Serif Pro';*/
	font-size: 5vw;
	text-transform: uppercase;
	color:white;
	padding: 7vw;
	padding-bottom: 2vw;
	background-color: black;
}	

#stats {
	background-color: black;
	margin-top: 0vw;
	height: fit-content;
	padding-bottom: 1vw;
}

#graphicBack{
	height: fit-content;
	width:100vw;
	background-color: black;
}

#DashboardBtn {
	font-family: 'Alegreya', serif;
	font-size: 1.45vw;
	margin-left: 82vw;
	position: absolute;
	margin-top: -12.5vw;
	border-radius: 0.5vw;
	background-size: 300% 300%;
	box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
	background-image: linear-gradient(to right, hsla(313, 88%, 54%, 0.452) 0%, #3F76FF 50%, hsla(313, 88%, 54%, 0.452) 100%);
	transition: 0.5s;
	color: white;
	padding-top: 1vw;
	padding-bottom: 1vw;
	text-transform: uppercase;
}

#DashboardBtn:hover{
	background-position: right center;
}

#IndicatorTxt {
	display: inline-block;
	font-size: 1.5vw;
	margin-left: 5vw;
}

#IndicatorTxtCorrect {
	margin-left: 20vw;
}

#IndicatorTxtC, #IndicatorTxtW, #IndicatorTxtS, #IndicatorTxtU {
	display: inline-block;
	font-size: 1.5vw;
	text-align: center;
	width:10vw;
}

#colorId {
	padding-top:1vw;
	margin-left: 23vw;
	margin-top: 0vw;
	margin-bottom: 0.5vw;
	width: 77vw;
	font-family: 'Times New Roman', Times, serif;
	background-color: black;
}

#colorId2 {
	margin-left: 0vw;
	/* margin-bottom: 2vw; */
	width: 100vw;
	margin-top: 0vw;
	font-family: 'Times New Roman', Times, serif;
	background-color: black;
}

#IndicatorTxtC {
	margin-left: 26.5vw ;
}
#IndicatorTxtW {
	margin-left: 0.8vw ;
}

#IndicatorTxtS {
	margin-left: 0.6vw;
}

#IndicatorTxtU {
	margin-left: 2.3vw  ;
}

#upgradeBtn {
	font-size: 1.75vw;
	text-decoration: none;
	margin-top: 1.75vw;
	font-family: 'Alegreya', serif;
	border-radius: 0.5vw;
	color:white;
	background: red;
	display: none;
	margin-left: 50vw;
	/* box-shadow: 0px 3px 3px 3px #bbb; */
	position: relative;

	animation: linear infinite;
	animation-name: btnAnim;
	animation-duration: 2s;
    -webkit-animation: linear infinite;
    -webkit-animation-name: btnAnim;
    -webkit-animation-duration: 1.2s;
}

@keyframes btnAnim{
	0% {
		box-shadow: 0px 1px 2px 2px #bbb;
	}
	12.5%{
		box-shadow: 0px 1.5px 2.5px 2.5px #bbb;
	}
	25% {
		box-shadow: 0px 2px 3px 3px #bbb;
	}
	50% {
		box-shadow: 0px 3.5px 4.5px 4.5px #bbb;
	}
	75% {
		box-shadow: 0px 2px 3px 3px #bbb;
	}
	87.5%{
		box-shadow: 0px 1.5px 2.5px 2.5px #bbb;
	}
	100% {
		box-shadow: 0px 1px 2px 2px #bbb;
	}
}
@-webkit-keyframes btnAnim {
	0% {
		box-shadow: 0px 1px 2px 2px #bbb;
	}
	12.5%{
		box-shadow: 0px 1.5px 2.5px 2.5px #bbb;
	}
	25% {
		box-shadow: 0px 2px 3px 3px #bbb;
	}
	50% {
		box-shadow: 0px 3.5px 4.5px 4.5px #bbb;
	}
	75% {
		box-shadow: 0px 2px 3px 3px #bbb;
	}
	87.5%{
		box-shadow: 0px 1.5px 2.5px 2.5px #bbb;
	}
	100% {
		box-shadow: 0px 1px 2px 2px #bbb;
	}
}


#upgradeBtn:hover{
	background-color: #CD3615;
}

#Chapters {
	font-family: 'Source Serif Pro';
	font-size: 2vw;
	margin-left: 2vw;
	padding-top: 1vw; 
	text-transform: uppercase;
}

#conceptName {
	font-size: 1.6vw;
	width: 12vw;
	height:5vw;
	overflow: hidden;
	text-align: center;
	margin-left: -0.5vw;
	margin-top: 1vw;
	font-family: 'Lora', serif;
}

#conceptImage {
	margin-left: 3vw;
	margin-top: 1vw;
	height: 5vw;
	width: 5vw;
}

#conceptBlocks {
	 display: flex;
	 flex-wrap: wrap;
}


#conceptBlocks::-webkit-scrollbar {
  display: none;
}

#conceptBlocks li{
	display: inline-block; 
	padding: 2vw;
	width: 15vw;
	height: 15vw;
	margin-left: 3vw;
	margin-top: 2vw;
	margin-bottom: 2vw;
	white-space: normal;
	border-radius: 8px;
}

#conceptBlocks {
	display: flex;
	flex-wrap: wrap;
	width: 100vw;
	min-width: 100vw;
	max-width: 100vw;
}

#conceptBlocks li:hover{
	cursor: pointer;
	transform: scale(1.02);
	transition: transform .1s ease;
}

#chapterConceptCard {
	margin-bottom: 10vw;
	margin-top: 0vw;
	margin-left: 0vw;
	width: 100vw;
	min-width: 100vw;
	max-width: 100vw;
	overflow: hidden;
	white-space: nowrap;
	overflow: hidden;
	padding-bottom: 2vw;
}

#whiteStrip{
	background: white;
	visibility: hidden;
	font-size: 0.26vw;
}

#myProgress {
  width: 100%;
  background-color: #ddd;
}

#myBar {
  width: 1%;
  height: 1.75vw;
  margin-top: 0.25vw;
  background-color: orange;
}

#accuracyText {
	margin-left: 2.75vw;
	font-size: 1vw;
	font-family: 'Quicksand';
	font-style: italic;
}

.glow {
  font-size: 80px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

/* #username {
	margin-bottom: 1vw;
	font-family: 'Times New Roman', Times, serif;
	text-decoration: none;
}

#userImage {
	height: 7vw;
	width: 7vw;
}

#myCoursesTxt {
	font-family: 'Times New Roman', Times, serif;
	text-transform: uppercase;
	color:white;
	margin-top: 2vw;
	font-size: 2vw;
}

#logOutTxt {
	font-family: 'Times New Roman', Times, serif;
	text-decoration: none;
} */

@keyframes glow {
	from {
	  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
	}
	
	to {
	  text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
	}
  }

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

@media only screen and (max-width:768px){

	#stats {
		padding-bottom: 3vw;
	}

	#DashboardBtn {
		font-family: 'Alegreya', serif;
		font-size: 4vw;
		margin-left: 65vw;
		position: absolute;
		margin-top: -72vw;
		border-radius: 2vw;
	}

	#QuarksLogo{
		margin-left: -4vw;
		height: 12.5vw;
		width: 12.5vw;
		margin-top:1.25vh;
	}
	
	#nameQuarks{
		font-family: 'Quicksand';
		font-size: 10vw;
		text-decoration: none;
		margin-left: -4vw;
		color:black;
		position:absolute;
	}

	#SubjectName {
		font-size: 9.5vw;
		text-transform: uppercase;
		color:white;
		margin-top: 19vw;
		background-color: black;
		max-width:100vw;
		margin-left: 0vw;
		margin-bottom: 2vw;
		padding-top: 15vw;
		font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	}	

	#conceptBlocks li{
		display: inline-block; 
		padding: 2vw;
		width: 37vw;
		margin-left: 6vw;
		height: 42vw;
		margin-top: 7.5vw;
		margin-bottom: 2vw;
		white-space: normal;
		border-radius: 8px;
	}
	
	#conceptImage {
		margin-left: 10vw;
		margin-top: 2vw;
		height: 14vw;
		width: 14vw;
	}

	#conceptName {
		font-size: 5vw;
		width: 35vw;
		height:18vw;
		overflow: hidden;
		text-align: center;
		margin-left: -1vw;
		margin-top: 3.5vw;
		font-family: 'Lora', serif;
	}

	#myProgress {
		width: 90%;
		margin-left: 5%;
		background-color: #ddd;
	  }
	  
	  #myBar {
		width: 1%;
		height: 5vw;
		margin-top: 0.2vw;
		background-color: orange;
	  }
	  
	  #accuracyText {
		  margin-left: 5vw;
		  font-size: 3.5vw;
		  font-family: 'Quicksand';
		  font-style: italic;
	  }
	  
	#chapterConceptCard {
		margin-bottom: 10vw;
		margin-top: 0vw;
		margin-left: 0vw;
		width: 96vw;
		overflow: hidden;
		white-space: nowrap;
		position: absolute;
		padding-bottom: 20vw;
	}

	#conceptBlocks {
		display: flex;
		flex-wrap: wrap;
		margin :auto;
		padding: 0;
		width: 96vw;
		min-width: 96vw;
		max-width: 96vw;
   }

   #conceptBlocks li{
		display: inline-block; 
		margin:auto;
		margin-top: 5vw;
		margin-bottom: 5vw;
		white-space: normal;
		border-radius: 8px;
	}
		
	#upgradeBtn {
		font-size:4.5vw;
		margin-left: 0vw;
		padding: 2vw;
		display:none;
		text-transform: uppercase;
		margin-top: 4.5vw;
		margin-right: 2vw;
	}

	/* #logOutTxt {
		color: white;
		font-size: 5vw;
		font-family: 'Times New Roman', Times, serif;
		text-decoration: none;
	}

	#username {
		margin-bottom: 0vw;
		font-family: 'Times New Roman', Times, serif;
		text-decoration: none;
		font-size: 5vw;
		color:white;
		margin-left:0vw;
	}

	#userImage {
		height: 24vw;
		width: 24vw;
	}

	#myCoursesTxt {
		font-family: 'Times New Roman', Times, serif;
		text-transform: uppercase;
		color:white;
		margin-top: 5vw;
		font-size: 5vw;
	} */
}

/* Below is again for laptop as bracket closed above for phones */
figure {
	margin: 0 auto;
	max-width: 100vw;
	position: relative;
}
.graphic {
	/* padding-left: 30px; */
	margin-left: 19vw;
	margin-right: 15vw;	

}

#graphicBack{
	height: fit-content;
}

@keyframes expand {
	from {width: 0%;}
	to {width: 100%;}
}
@media screen and (min-width: 768px) {
	@keyframes expand {
		from {width: 0%;}
		to {width: calc(100% - 75px);}
	}
}
.chart {
	overflow: hidden;
	width: 0%;
	animation: expand 1.5s ease forwards;
}
.row + .row .chart {
	animation-delay: .2s;
}
.row + .row + .row .chart {
	animation-delay: .4s;
}
.block {
	display: block;
	height: 3.75vw;
	color: #fff;
	font-size: .75em;
	float: left;
	background-color: green;
	position: relative;
	overflow: hidden;
	opacity: 1;
	transition: opacity, .3s ease;
	cursor: pointer;
}
.block:nth-of-type(2),
.legend li:nth-of-type(2):before {
	background-color: #CD3615;
}
.block:nth-of-type(3),
.legend li:nth-of-type(3):before {
	background-color: #1596CD;
}
.block:nth-of-type(4),
.legend li:nth-of-type(4):before {
	background-color: #565454;
}

.block:hover {
	opacity: .65;
}
.value {
	display: block;
	line-height: 1em;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%);
}
.x-axis {
    text-align: center;
	padding: .5em 0 2em;
}
.legend {
    margin: 0 auto;
    padding: 0;
	font-size: .9em;
}
.legend li {
    display: inline-block;
    padding: .25em 1em;
    line-height: 1em;
}
.legend li:before {
    content: "";
    margin-right: .5em;
    display: inline-block;
    width: 8px;
    height: 8px;
	background-color: #334D5C;
}
@media screen and (min-width: 768px) {
	.block {
		font-size: 1em;
	}
	.legend {
		width: 50%;
	}
}

@media screen and (max-width: 768px) {

figure {
	margin: 0 auto;
	max-width: 100vw;
	position: relative;	
}
.graphic {
	padding-left: 0px;
	margin-left: 10vw;
	margin-right: 10vw;
}

/* .block {
	height: 7vw;
	font-size: .75em;
} */

#IndicatorTxt {
	display: inline-block;
	font-size: 4vw;
	margin-left: 2vw;
}

#colorId {
	margin-left: 5vw;
	margin-top: 0vw;
	padding-top: 3vw;
	width:90vw;
	font-family: 'Times New Roman', Times, serif;
	background-color: black;
}

#colorId2 {
	margin-left: 0vw;
	margin-bottom: 0vw;
	width: 100vw;
	margin-top: 1vw;
	font-family: 'Times New Roman', Times, serif;
	background-color:black;

}

#IndicatorTxtC, #IndicatorTxtW, #IndicatorTxtS, #IndicatorTxtU {
	display: inline-block;
	font-size: 4vw;
	text-align: center;
	width:10vw;
}

#IndicatorTxtC {
	margin-left: 11.75vw ;
}

#IndicatorTxtW {
	margin-left: 7vw ;
}

#IndicatorTxtS {
	margin-left: 7vw ;
}

#IndicatorTxtU {
	margin-left: 12vw ;
}

}