#firstDiv {
	overflow: hidden;
	height:20vw;
	width: 100vw;
}

#practiceBtn, #viewSolBtn, #restartBtn{
	font-family: 'Alegreya', serif;
	font-size: 2.8vw;
	margin-left: 6.5vw;
	margin-top: 3vw;
	padding: 5vw;
	width: 40vw;
	background-size: 300% 300%;
	box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
	background-image: linear-gradient(to right, #3F76FF 0%, #5FFF3F 50%, #3F76FF 100%);
  	transition: 0.5s;
	border-radius: 0.5vw;
}

#practiceBtn:hover, #viewSolBtn:hover, #restartBtn:hover, #practiceBtnPh:hover {
	background-position: right center;
  }
  
#PerformanceTxt {
	font-family: 'Alegreya', serif;
	font-size: 2.5vw;
	margin-top: 2vw;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 2vw;
}


#EasyQAnalysisTxt {
	font-family: 'Alegreya', serif;
	font-size: 2.5vw;
	margin-top: -20vw;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 2vw;
}

#DifficultQAnalysisTxt {
	font-family: 'Alegreya', serif;
	font-size: 2.5vw;
	margin-top: 6vw;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 2vw;
}

#PerformanceDiv {
	margin-top: -7.5vw;	
	width: 100vw;
	overflow: hidden;
}

#LeaderboardDiv {
	margin-top: 15vw;	
	width: 100vw;
	overflow: hidden;
	height:fit-content;
	margin-bottom: 10vw;	
}

#leaderboardMsg {
	margin-top: 4vw;
	text-align:center;
	font-size: 2vw;
	font-family: 'Alegreya', serif;
}

#LevelMsgNote {
	margin-top: 0vw;
	font-size: 1.45vw;
	font-family: 'Alegreya', serif;
}

#parentsNoteBtn, #parentsNoteBtn1 {
	position: absolute;
	font-size: 1.5vw;
	font-family: 'Alegreya', serif;
	margin-left: 40vw;
	margin-top: 2vw;
	border-radius: 0.5vw;
	background-size: 300% 300%;
	box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
	background-image: linear-gradient(to right, rgb(252, 93, 119) 0%, yellow 50%, rgb(252, 93, 119) 100%);
  	transition: 0.5s;
	color: white;
	text-transform: uppercase;
}

#parentsNoteBtn1{
	margin-top: -16.5vw;
	background-image: linear-gradient(to right, hsla(313, 88%, 54%, 0.452) 0%, #3F76FF 50%, hsla(313, 88%, 54%, 0.452) 100%);
}

#parentsNoteBtn:hover, #parentsNoteBtn1:hover{
	background-position: right center;
}

#noteMsg {
	margin-top: 2vw;
	text-align:center;
	font-size: 2vw;
	font-family: 'Alegreya', serif;
}

#Score {
	margin-top: -13.25vw;
	text-align:center;
	font-size: 1.5vw;
	font-family: 'Alegreya', serif;
	font-family: 'Concert One', cursive;
	font-family: 'Lora', serif;
	font-weight: 800;
	width: 11.75vw;
	margin-left: 43.5vw;
	position: absolute;
	padding: 0.75vw;
	transform: rotate(-15deg);
	border-radius: 0.5vw;
	border: 1px solid #5FFF3F;
}

#naruto {
	height: 15vw;
	width: 20vw;
	margin-left: 40vw;
}


#attemptedMaxScore{
	margin-left: 44vw;
	font-size: 1.5vw;
	font-family: 'Alegreya', serif;
	font-family: 'Concert One', cursive;
	font-family: 'Lora', serif;
	font-weight: 800;
	border-radius: 0.5vw;
	border: 1px solid #5FFF3F;
	width: 12vw;
	border-radius: 2vw;
	text-align: center;
	background-color: #dddddd;
	color: black;
	padding: 0.5vw;
}


#scoreboardDiv {
	position: relative;

	animation: linear infinite;
	animation-name: run;
	animation-duration: 1.75s;
    -webkit-animation: linear infinite;
    -webkit-animation-name: run;
    -webkit-animation-duration: 1.75s;
}

@keyframes run{
	0% {
		top: -0.25vw;
	}
	50% {
	  top: 0.25vw;
	}
	100% {
		top: -0.25vw;
	}
}
@-webkit-keyframes run {
	0% {
		top: -0.25vw;
	}
	50% {
	  top: 0.25vw;
	}
	100% {
		top: -0.25vw;
	}
}


#whiteStripBlank {
	visibility: hidden;
	font-size: 0.15vw;
}

#PieCharts {
	margin-left: 0vw;
	width: 100vw;
	max-width: 100vw;
	min-width: 100vw;
	overflow: hidden;
}

#progressBar {
	font-family: 'Source Serif Pro';
	font-size: 2vw;
	margin-top: 0vw;
	margin-left: 50vw;
	width: 45vw;
	position: absolute;
}

#piechartQuestionsLarge {
	width: 70vw;
	height: 50vw;
	margin-top: 0vw;
	position: absolute;
}

/* #piechartQuestionsMedium {
	width: 90vw;
	height: 70vw;
	margin-top: 0vw;
	position: absolute;
} */

/* #piechartQuestionsSmall {
	width: 100vw;
	height: 70vw;
	margin-top: 2vw;
	margin-left: 0vw;
} */


#totalQCard, #CorrectQCard, #WrongQCard, #SkippedQCard, #UnattemptedQCard {
	margin-left: 70vw;
	width:20vw;
	margin-top: 2vw;
	text-align: center;
	font-family: 'Alegreya', serif;
	border-radius: 1vw;
}

#totalCount, #correctCount, #wrongCount, #skipCount, #Unattemptedcount {
	font-size: 2vw;
}

#totalTxt, #CorrectTxt, #WrongTxt, #SkippedTxt, #UnattemptedTxt {
	font-size: 2vw;
}

#PerformanceCountLarge {
	margin-bottom: 30vw;
}

#DisplayFeedback {
	font-size: 2vw;
	margin-top: 10vw;
	margin-bottom: 2vw;
	text-align: center;
	font-family: 'Alegreya', serif;
}

table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
  }
  
  td, th {
	border: 1px solid #dddddd;
	text-align: center;
	font-size: 1.5vw;
  }
 
  th{
	color: yellow
	}

  tr:nth-child(even) {
	background-color: #dddddd;
  }

  #LeaderboardTbl {
	  margin-top: 2vw;
	  margin-left: 25%;
	  width: 50%;
  }

  #topTenTxt {
	  text-align: center;
	  font-size: 2.5vw;
	  margin-top: 4vw;
	  font-family: 'Franklin Gothic Medium';
  }

  /* #logOutTxt {
	color: white;
	font-size: 1.5vw;
	font-family: 'Times New Roman', Times, serif;
	text-decoration: none;
}

#username {
	margin-bottom: 1vw;
	font-family: 'Alegreya', serif;
	text-decoration: none;
	font-size: 1.5vw;
	color:white;
	margin-left:2vw;
}

#userImage {
	height: 7vw;
	width: 7vw;
}

#myCoursesTxt {
	font-family: 'Times New Roman', Times, serif;
	text-transform: uppercase;
	color:white;
	margin-top: 1vw;
	font-size: 2vw;
}	*/

#restartModalBtn {
	border-radius: 0.5vw;
	color: white;
	padding: 0.5vw;
	box-shadow: 2px 2px 2px 2px solid #bbb;
	font-size: 1.25vw;
	width: fit-content;
}

#restartModalBtn {
	cursor: pointer;
	font-size: 1.5vw;
	padding: 0.75vw;
}

#restartTxt{
	font-size: 1.5vw;
}

#restartLeftTxt{
	font-size: 1.5vw;
	color:green
}

#modalDiv {
	margin-top: 10vw;
	width: 50vw;
	margin-left: 25vw;
	font-family: 'Alegreya', serif;
}

#upgradeBtn {
	font-size: 1.75vw;
	text-decoration: none;
	margin-top: 1.75vw;
	font-family: 'Alegreya', serif;
	border-radius: 0.5vw;
	color:white;
	background: red;
	display: none;
	margin-left: 50vw;
	/* box-shadow: 0px 3px 3px 3px #bbb; */
	position: relative;

	animation: linear infinite;
	animation-name: btnAnim;
	animation-duration: 2s;
    -webkit-animation: linear infinite;
    -webkit-animation-name: btnAnim;
    -webkit-animation-duration: 1.2s;
}

@keyframes btnAnim{
	0% {
		box-shadow: 0px 1px 2px 2px #bbb;
	}
	12.5%{
		box-shadow: 0px 1.5px 2.5px 2.5px #bbb;
	}
	25% {
		box-shadow: 0px 2px 3px 3px #bbb;
	}
	50% {
		box-shadow: 0px 3.5px 4.5px 4.5px #bbb;
	}
	75% {
		box-shadow: 0px 2px 3px 3px #bbb;
	}
	87.5%{
		box-shadow: 0px 1.5px 2.5px 2.5px #bbb;
	}
	100% {
		box-shadow: 0px 1px 2px 2px #bbb;
	}
}
@-webkit-keyframes btnAnim {
	0% {
		box-shadow: 0px 1px 2px 2px #bbb;
	}
	12.5%{
		box-shadow: 0px 1.5px 2.5px 2.5px #bbb;
	}
	25% {
		box-shadow: 0px 2px 3px 3px #bbb;
	}
	50% {
		box-shadow: 0px 3.5px 4.5px 4.5px #bbb;
	}
	75% {
		box-shadow: 0px 2px 3px 3px #bbb;
	}
	87.5%{
		box-shadow: 0px 1.5px 2.5px 2.5px #bbb;
	}
	100% {
		box-shadow: 0px 1px 2px 2px #bbb;
	}
}

#upgradeBtn:hover{
	background-color: #CD3615;
}


  @media only screen and (max-width:768px){

	/* #myCoursesTxt {
		font-family: 'Times New Roman', Times, serif;
		text-transform: uppercase;
		color:white;
		margin-top: 2vw;
		font-size: 5vw;
	}	 */

	#DisplayFeedback {
		font-size: 6.25vw;
		margin-top: 28vw;
		margin-bottom: 4vw;
		text-align: center;
		font-family: 'Alegreya', serif;
		margin-left: 10vw;
		margin-right: 10vw;
	}
  
	#practiceBtn, #practiceBtnPh, #viewSolBtn, #restartBtn{
		font-family: 'Alegreya', serif;
		font-size: 6.5vw;
		margin-left: 9.5vw;
		margin-top: 5vw;
		padding: 8vw;
		width: 80vw;
		background-size: 300% 300%;
		box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
		background-image: linear-gradient(to right, #3F76FF 0%, #5FFF3F 50%, #3F76FF 100%);
		transition: 0.5s;
		border-radius: 5px;
	}
	
	#PerformanceTxt {
		font-family: 'Alegreya', serif;
		font-size: 7vw;
		margin-top: 20vw;
		margin-left: 0vw;
		text-transform: uppercase;
		text-align: center;
	}

	#EasyQAnalysisTxt {
		font-family: 'Alegreya', serif;
		font-size: 7vw;
		margin-top: 10vw;
		text-align: center;
		text-transform: uppercase;
	}

	#DifficultQAnalysisTxt {
		font-family: 'Alegreya', serif;
		font-size: 7vw;
		margin-top: 10vw;
		text-align: center;
		text-transform: uppercase;
	}

	#parentsNoteBtn, #parentsNoteBtn1 {
		font-size: 5vw;
		margin-left: 19vw;
		margin-top: 10vw;
	}
	
	#parentsNoteBtn1 {
		margin-top: -10vw;
	}

	#parentsNoteBtn{
		margin-top: -1vw;
	}	

	#LevelMsgNote {
		margin-top: 0vw;
		font-size: 5vw;
		font-family: 'Alegreya', serif;
	}

	#LeaderboardDiv {
		margin-top: 30vw;	
		width: 100vw;
		height:fit-content;
		margin-bottom: 10vw;
	}

	#QuarksLogo{
		margin-left: -4vw;
		height: 12.5vw;
		width: 12.5vw;
		margin-top:1.25vh;
	}
	
	#nameQuarks{
		font-family: 'Quicksand';
		font-size: 10vw;
		text-decoration: none;
		margin-left: -4vw;
		color:black;
		position:absolute;
	}

	#Score {
		margin-top: -42.5vw;
		text-align:center;
		font-size: 5vw;
		font-family: 'Alegreya', serif;
		font-family: 'Concert One', cursive;
		font-family: 'Lora', serif;
		font-weight: 800;
		width: 38.2vw;
		margin-left: 28.75vw;
		position: absolute;
		padding: 2.35vw;
		transform: rotate(-15deg);
		border-radius: 1vw;
		border: 0.5px solid #5FFF3F;
	}

	#naruto {
		height: 48vw;
		width: 64vw;
		margin-left: 18vw;
		margin-top: 5vw;
	}
	
	
	#attemptedMaxScore{
		margin-left: 29vw;
		font-size: 5vw;
		font-family: 'Alegreya', serif;
		font-family: 'Concert One', cursive;
		font-family: 'Lora', serif;
		font-weight: 800;
		border: 1px solid #5FFF3F;
		width: 42vw;
		border-radius: 6vw;
		text-align: center;
		background-color: #dddddd;
		color: black;
		padding: 2vw;
		margin-top: -0.57vw;
	}

	#leaderboardMsg {
		margin-top: 13vw;
		text-align:center;
		font-size: 6.25vw;
		font-family: 'Alegreya', serif;
		margin-left: 10vw;
		margin-right: 10vw;
	}
	
	table {
		font-family: arial, sans-serif;
		border-collapse: collapse;
	  }
	  
	  td, th {
		border: 1px solid #dddddd;
		text-align: center;
		font-size: 5vw;	
	  }

	  th{
		  color: yellow
	  }
	
	  tr:nth-child(even) {
		background-color: #dddddd;
	  }
	
	  #LeaderboardTbl {
		  margin-top: 7.5vw;
		  margin-left: 1%;
		  width: 98%;
		}
	
		#topTenTxt {
			margin-top: 10vw;
			font-size: 7vw;
			font-family: 'Alegreya', serif;
		}
		
		#noteMsg {
			margin-top: 5vw;
			margin-left: 10vw;
			margin-right: 10vw;
			font-size: 5vw;
			font-family: 'Alegreya', serif;
			text-align: center;
		}

		#piechartQuestionsLarge {
			width: 100vw;
			height: 70vw;
			margin-top: 2vw;
			margin-left: 0vw;
		}

		#PerformanceCountLarge {
			display: flex;
			flex-wrap: wrap;
			margin-left: 2vw;
			margin-top: 72vw;
			margin-bottom: 10vw
	   }


	   #PerformanceCountLarge li {
			display: inline-block;
			margin-top: 3vw;
   		}
		
		#totalQCard, #CorrectQCard, #WrongQCard, #SkippedQCard, #UnattemptedQCard {
			margin-left: 5vw;
			width:40vw;
			margin-top: 2vw;
			text-align: center;
			font-family: 'Alegreya', serif;
			height: 28vw;
		}
		
		#totalCount, #correctCount, #wrongCount, #skipCount, #Unattemptedcount {
			font-size: 8vw;
			margin-top: -1vw;
		}
		
		#totalTxt, #CorrectTxt, #WrongTxt, #SkippedTxt, #UnattemptedTxt {
			font-size: 6.25vw;
			margin-top: 2vw;
			font-family: 'Alegreya', serif;
		}
		/* #logOutTxt {
			color: white;
			font-size: 5vw;
			font-family: 'Times New Roman', Times, serif;
			text-decoration: none;
		}
		
		#username {
			margin-bottom: 1vw;
			font-family: 'Alegreya', serif;
			text-decoration: none;
			font-size: 5vw;
			color:white;
			margin-left:9vw;
		}
		
		#userImage {
			height: 24vw;
			width: 24vw;
		}	 */


		#restartModalBtn {
			border-radius: 0.5vw;
			color: white;
			padding: 0.5vw;
			box-shadow: 2px 2px 2px 2px solid #bbb;
			font-size: 1.25vw;
			width: fit-content;
		}
		
		#restartModalBtn {
			cursor: pointer;
			font-size: 5vw;
			padding: 0.75vw;
		}
		
		#restartTxt{
			font-size: 5vw;
		}
		
		#restartLeftTxt{
			font-size: 5vw;
			color:green
		}
		
		#modalDiv {
			margin-top: 30vw;
			width: 80vw;
			margin-left: 10vw;
			font-family: 'Alegreya', serif;
		}

		#scoreboardDiv {
			position: relative;
	
			animation: linear infinite;
			animation-name: run;
			animation-duration: 1.5s;
			-webkit-animation: linear infinite;
			-webkit-animation-name: run;
			-webkit-animation-duration: 1.5s;
		}

		@keyframes run{
			0% {
				top: -0.5vw;
			}
			50% {
			  top: 0.5vw;
			}
			100% {
				top: -0.5vw;
			}
		}
		@-webkit-keyframes run {
			0% {
				top: -0.5vw;
			}
			50% {
			  top: 0.5vw;
			}
			100% {
				top: -0.5vw;
			}
		}
		
		
	#upgradeBtn {
		font-size:4.5vw;
		margin-left: 0vw;
		padding: 2vw;
		display:none;
		text-transform: uppercase;
		margin-top: 4.5vw;
		margin-right: 2vw;
	}
}


/* FOR MODAL FORM IN restart concept */

/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
  }
  
  /* The Close Button */
  .close {
	color: #aaaaaa;
	float: right;
	font-weight: bold;
	margin-top: -1.5vw;
  }
  
  .close:hover,
  .close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
  }

  @media only screen and (max-width:768px){
	/* The Close Button */
	.closePh {
		color: #aaaaaa;
		float: right;
		font-weight: bold;
		margin-top: -5vw;
		font-size: 5vw;
	  }
	  
	  .closePh:hover,
	  .closePh:focus {
		color: #000;
		text-decoration: none;
		cursor: pointer;
	  }
}


#IndicatorTxt {
	display: inline-block;
	font-size: 1.5vw;
	margin-left: 5vw;
}

#IndicatorTxtCorrect {
	margin-left: 20vw;
}

#IndicatorTxtC, #IndicatorTxtW, #IndicatorTxtS, #IndicatorTxtU {
	display: inline-block;
	font-size: 1.5vw;
	text-align: center;
	width:10vw;
}

#colorId {
	margin-left: 23vw;
	margin-top: -1vw;
	margin-bottom: 0.5vw;
	width: 80vw;
	font-family: 'Times New Roman', Times, serif;
}

#colorId2 {
	margin-left: 0vw;
	margin-bottom: 2vw;
	width: 100vw;
	font-family: 'Times New Roman', Times, serif;
}


#IndicatorTxtC {
	margin-left: 26.5vw ;
}
#IndicatorTxtW {
	margin-left: 0.9vw ;
}

#IndicatorTxtS {
	margin-left: 0.8vw ;
}

#IndicatorTxtU {
	margin-left: 2.4vw ;
}


figure {
	margin: 0 auto;
	max-width: 100vw;
	position: relative;
}
.graphic {
	padding-left: 30px;
	margin-top: 0vw;
	margin-left: 17.5vw;
	margin-right: 15vw;	
}
.row {
	margin-bottom: 1.5em;
}
@keyframes expand {
	from {width: 0%;}
	to {width: 100%;}
}
@media screen and (min-width: 768px) {
	@keyframes expand {
		from {width: 0%;}
		to {width: calc(100% - 75px);}
	}
}
.chart {
	overflow: hidden;
	width: 0%;
	animation: expand 1.5s ease forwards;
}
.row + .row .chart {
	animation-delay: .2s;
}
.row + .row + .row .chart {
	animation-delay: .4s;
}
.block {
	display: block;
	height: 3.75vw;
	color: #fff;
	font-size: .75em;
	float: left;
	background-color: green;
	position: relative;
	overflow: hidden;
	opacity: 1;
	transition: opacity, .3s ease;
	cursor: pointer;
}
.block:nth-of-type(2),
.legend li:nth-of-type(2):before {
	background-color: #CD3615;
}
.block:nth-of-type(3),
.legend li:nth-of-type(3):before {
	background-color: #1596CD;
}
.block:nth-of-type(4),
.legend li:nth-of-type(4):before {
	background-color: #565454;
}

.block:hover {
	opacity: .65;
}
.value {
	display: block;
	line-height: 1em;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%);
}
.x-axis {
    text-align: center;
	padding: .5em 0 2em;
}
.legend {
    margin: 0 auto;
    padding: 0;
	font-size: .9em;
}
.legend li {
    display: inline-block;
    padding: .25em 1em;
    line-height: 1em;
}
.legend li:before {
    content: "";
    margin-right: .5em;
    display: inline-block;
    width: 8px;
    height: 8px;
	background-color: #334D5C;
}
@media screen and (min-width: 768px) {
	.block {
		font-size: 1em;
	}
	.legend {
		width: 50%;
	}
}

@media screen and (max-width: 768px) {

figure {
	margin: 0 auto;
	max-width: 100vw;
	position: relative;	
}
.graphic {
	padding-left: 0px;
	margin-top: 0vw;
	margin-left: 10vw;
	margin-right: 10vw;
}

.block {
	height: 7vw;
	font-size: .75em;
}

#IndicatorTxt {
	display: inline-block;
	font-size: 4vw;
	margin-left: 2vw;
}

#colorId {
	margin-left: 5vw;
	margin-top: 0vw;
	margin-bottom: 8vw;
	width:95vw;
	font-family: 'Times New Roman', Times, serif;
}

#colorId2 {
	margin-left: 0vw;
	margin-bottom: 8vw;
	width: 100vw;
	margin-top: -7vw;
	font-family: 'Times New Roman', Times, serif;
}

#IndicatorTxtC, #IndicatorTxtW, #IndicatorTxtS, #IndicatorTxtU {
	display: inline-block;
	font-size: 4vw;
	text-align: center;
	width:10vw;
}

#IndicatorTxtC {
	margin-left: 11.75vw ;
}

#IndicatorTxtW {
	margin-left: 7vw ;
}

#IndicatorTxtS {
	margin-left: 7vw ;
}

#IndicatorTxtU {
	margin-left: 12vw ;
}

}
/* added in 4th April 2022 */
