.body-content {
  display: flex;
}

#refresh{
  margin-left: 5vw;
}

#refresh2{
  margin-right: 45vw;
}

#chart {
  margin-top: 10vw;
  height:35vw;
  margin-left: 5vw;
}

#chart2 {
  margin-top: 10vw;
  height:35vw;
  margin-right: 5vw;
}

#allCharts{
  width:100vw;
  height: fit-content;
}

.chart-container, .chart-container2{
  /* background-color: aqua; */
  height:fit-content
}
/* 
.chart-container2{
  background-color: #bbb;
} */

@media only screen and (max-width:768px){

#chart {
  margin-left: 2vw;
  margin-top: 20vw;
  height:100vw;
}

#chart2 {
  margin-left: 2vw;
  margin-top: 2vw;
  height:100vw;
}

.chart-container{
  width: 96vw;
}

#refresh, #refresh2 {
  margin-left: 2vw;
}

}