body{
    margin: 0 0 55px 0;
}
.nav{
    z-index: 50;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 55px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    background-color: black;
    display: flex;
    overflow-x: auto;

}

.navlink{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    min-width: 50px;
    overflow-x: hidden;
    white-space: nowrap;
    font-family:  Helvetica, sans-serif;
    font-size: 13px;
    color: white;
    text-decoration: none;
    transition: background-color 0.1s ease-in-out ;

}
.navlink:hover{
    background-color: #000000;
    text-decoration: none;
    color: white;
}
a:active{
    color: purple;
}

#iconNav {
    font-size: 2vw;      
        background:-moz-linear-gradient(top, #FF1515 0%, #C35FFF 100%); 
        background: -webkit-linear-gradient(top, #FF1515 0%,#C35FFF 100%); 
        background: linear-gradient(to bottom, #FF1515 0%,#C35FFF 100%);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
       -webkit-text-fill-color:transparent;
}

#iconNav:hover {
    font-size: 2.25vw
}

#iconNavNow {
        font-size: 2vw;      
        background:-moz-linear-gradient(top, #31F60D 0%, #FEFE00 100%); 
        background: -webkit-linear-gradient(top, #31F60D 0%,#FEFE00 100%); 
        background: linear-gradient(to bottom, #31F60D 0%,#FEFE00 100%);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
       -webkit-text-fill-color:transparent;
}

#iconNavNow:hover {
        font-size: 2.25vw;      
}

#navName:hover #iconNav {
    font-size: 2.25vw
}

#iconBar {
  font-size: 2.25vw;
  margin-top: 0vw;
  margin-right: -4vw; 
}

#loginBtn, #signUpBtn{
	font-size: 1.5vw;
	text-decoration: none;
	margin-top: 2vw;
	font-family: 'Alegreya', serif;
	border-radius: 0.5vw;
  display: none;
  /* visibility:hidden; */
} 

#loginBtn{
	background-color: white;
	color:black;
	margin-left: 50vw;
	border: 1px solid #bbb;
} 

#loginBtn:hover{
	color:green;
} 

#signUpBtn {
	margin-left: 2vw;
	color:white;
	background-color: green;
}

#signUpBtn:hover{
	background-color: darkgreen;
}

#usernameDisplay {
  font-family: 'Alegreya', serif;
  font-size:1.75vw;
  color: green;
  margin-top: 1.75vw;
  margin-left: 35.5vw;
  width: 31vw;
  display: none;
  /* visibility:hidden; */
}

#nameAngz{
  font-family: 'Quicksand';
  font-size:4.5vw;
  margin-right: -10vw;
  padding-bottom: 20vw;
}

#username {
	margin-bottom: 1vw;
	font-family: 'Times New Roman', Times, serif;
	text-decoration: none;
}

#userImage {
	height: 7vw;
	width: 7vw;
}

#myCoursesTxt {
	font-family: 'Times New Roman', Times, serif;
	text-transform: uppercase;
	color:white;
	margin-top: 2vw;
	font-size: 2vw;
}

#logOutTxt, #RegiTxt, .homeSubscribe {
  font-family: 'Alegreya', serif;
	text-decoration: none;
  font-size: 1.5vw;
}

@media only screen and (max-width:768px){

  	
#logOutTxt, #RegiTxt, .homeSubscribe {
		color: white;
		font-size: 5vw;
	  font-family: 'Alegreya', serif;
		text-decoration: none;
	}

	#username {
		margin-bottom: 0vw;
		font-family: 'Times New Roman', Times, serif;
		text-decoration: none;
		font-size: 5vw;
		color:white;
		margin-left:0vw;
	}

	#userImage {
		height: 24vw;
		width: 24vw;
	}

	#myCoursesTxt {
		font-family: 'Times New Roman', Times, serif;
		text-transform: uppercase;
		color:white;
		margin-top: 5vw;
		font-size: 5vw;
	}

  #loginBtn, #signUpBtn, #usernameDisplay{
    display: none;
  }

	#QuarksLogo{
		margin-left: -4vw;
		height: 12.5vw;
		width: 12.5vw;
		margin-top:1.25vh;
	}
	
	#nameQuarks, #nameQuarkXH{
		font-family: 'Quicksand';
		font-size: 10vw;
		text-decoration: none;
		margin-left: -4vw;
		color:black;
		position:absolute;
	}

  #nameQuarkXH {
    margin-left:26.5vw
  }

  #nameAngz{
    font-size:10vw;
		margin-left: -4vw;
		color:black;
  }

  #iconBar {
    font-size: 5vw;
    margin-top: 1vw;
    margin-right: 0vw; 
  }
  
    .nav{
      width: 106vw;
      margin-left:-6vw
    }

    #iconNav {
            margin-top: 1vw;
            font-size: 6vw;      
            background:-moz-linear-gradient(top, #FF1515 0%, #C35FFF 100%); 
            background: -webkit-linear-gradient(top, #FF1515 0%,#C35FFF 100%); 
            background: linear-gradient(to bottom, #FF1515 0%,#C35FFF 100%);
            -webkit-background-clip: text;
            -moz-background-clip: text;
            background-clip: text;
           -webkit-text-fill-color:transparent;
    }

    #iconNav:hover {
        font-size: 4.5vw
    }

    #iconNavNow {
            margin-top: 0vw;
            font-size: 8vw;      
            background:-moz-linear-gradient(top, #31F60D 0%, #FEFE00 100%); 
            background: -webkit-linear-gradient(top, #31F60D 0%,#FEFE00 100%); 
            background: linear-gradient(to bottom, #31F60D 0%,#FEFE00 100%);
            -webkit-background-clip: text;
            -moz-background-clip: text;
            background-clip: text;
           -webkit-text-fill-color:transparent;
    }

    #iconNavNow:hover {
            font-size: 7vw;      
    }
}




.navbar{
  background-color:rgba(red, green, blue, 1);
  overflow:hidden;
  height:63px;
  position: fixed;
  width: 100%;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    
}
    


#top-navbar{
  position: fixed;
  z-index: 49;
}

.navbar a{
  float:left;
  display:block;
  color:#f2f2f2;
  text-align:center;
  padding:14px 16px;
  text-decoration:none;
  font-size:17px;
  
}

.navbar ul{
  margin:8px 0 0 0;
  list-style:none;
}

.navbar a:hover{
  background-color:#ddd;
  color:#000;
}

.side-nav{
  height:100%;
  width:0;
  position:fixed;
  z-index:1;
  top:0;
  left:0;
  background-color: black;
  opacity:0.9;
  overflow-x:hidden;
  padding-top:60px;
  transition:0.5s;
  z-index: 60;

}

.side-nav a{
  padding:10px 10px 10px 30px;
  text-decoration:none;
  font-size:22px;
  color:#ccc;
  display:block;
  transition:0.3s;
}

.side-nav a:hover{
  color:#fff;
}

.side-nav .btn-close{
  position:absolute;
  top:0;
  right:22px;
  font-size:36px;
  margin-left:50px;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

@media(max-width:568px){
  .navbar-nav{display:none}
}

@media(min-width:568px){
  /*.open-slide{display:none}*/
}


