#orderDetailsDiv {
	height: fit-content;
	margin-top: 7.75vw;
	width: 90vw;
	margin-left:5vw;
	padding-top: 0vw;
	background-color: white;
}

body{
	background-color: #393839;
}

#orderHeadings {
	float: right;
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	margin-top: 2vw;
	padding-bottom: 3vw;
	margin-right: 7.5vw;	
}

#headTitle {
	font-size: 2.25vw;
	margin-top: 0vw;
	font-family: 'Alegreya', serif;
	font-family: 'Concert One', cursive;
	font-family: 'Lora', serif;
	font-weight: bold;
}

#headSubtitle {
	font-size: 1.75vw;
	font-family: 'Alegreya', serif;
	font-family: 'Concert One', cursive;
	font-family: 'Lora', serif;
	color:#393839"
}

#savedTxt{
	font-size: 1.75vw;
	/* color: rgb(21, 182, 21); */
	color: #4FCF00;
	margin-top: 2vw;
	font-family: 'Alegreya', serif;
	font-family: 'Concert One', cursive;
	font-family: 'Lora', serif;
	font-weight: bold;
}

#TxtPrice {
	margin-top: 2vw;
	font-size: 2.5vw;
	display: inline-block;
	font-family: 'Alegreya', serif;
	font-family: 'Concert One', cursive;
	font-family: 'Lora', serif;
}

#TxtFullPrice{
	font-size: 1.85vw;
	color:dimgray;
	margin-left: 2vw;
	font-family: 'Alegreya', serif;
	font-family: 'Concert One', cursive;
	font-family: 'Lora', serif;
}

#discountTxt {
	/* color: rgb(21, 182, 21); */
	color: #4FCF00;
	font-size: 1.85vw;
	margin-left: 2vw;
	font-family: 'Alegreya', serif;
	font-family: 'Concert One', cursive;
	font-family: 'Lora', serif;
	font-weight: bold;
}

#validityTxt{
	font-size: 1.75vw;
	margin-top: 1.25vw;
	font-family: 'Alegreya', serif;
	font-family: 'Concert One', cursive;
	font-family: 'Lora', serif;	

}

#courseImg {
	height:45vw;
	width: 30vw;
	margin-top: -5vw;
	margin-left: 5vw;
}

#rzp-button1 {
	font-family: serif;
	font-size: 1.75vw;
	border-radius: 8px;
	text-transform: uppercase;
	background-color: #f68331;
	color:white;
	margin-top: 2vw;
	border: none;
	padding:0.75vw;
}

#trialBtn {
	font-family: serif;
	font-size: 1.75vw;
	border-radius: 8px;
	text-transform: uppercase;
	background-color:black;
	color:white;
	margin-top: 3vw;
	border: none;
	padding:0.75vw;
}

#logOutTxt {
	color: white;
	font-size: 1.5vw;
	font-family: 'Times New Roman', Times, serif;
	text-decoration: none;
}

#username {
	margin-bottom: 1vw;
	font-family: cursive;
	text-decoration: none;
	font-size: 1.5vw;
	color:white;
	margin-left:2vw;
}

#userImage {
	height: 7vw;
	width: 7vw;
}

   @media only screen and (max-width:768px){
	#QuarksLogo{
		margin-left: -4vw;
		height: 12.5vw;
		width: 12.5vw;
		margin-top:1.25vh;
	}
	
	#nameQuarks{
		font-family: 'Quicksand';
		font-size: 10vw;
		text-decoration: none;
		margin-left: -4vw;
		color:black;
		position:absolute;
	}

	#rzp-button1Ph{
		width: 100vw;
		font-size: 6vw;
		font-family:Arial, Helvetica, sans-serif;
		height: 12vw;
		border-radius: 8px;
		text-transform: uppercase;
		background-color: #f68331;
		color: white;
		border: none;
		margin-left: -3vw;
	}

	#orderHeadings {
		float: left;
		margin-top: 12vw;
		margin-left: 3vw;
		font-family: 'Alegreya', serif;
		font-family: 'Concert One', cursive;
		font-family: 'Lora', serif;
	}
	
	#courseImg {
		height:115vw;
		width: 81vw;
		margin-top: -4vw;
		margin-left: 0vw;
	}
	
	#orderDetailsDiv {
		width: 100vw;
		margin-left:0vw;
		border-radius: 0vw;
		padding-bottom: 3vw;
		padding-top: 2.5vw;
		height: 100vh;
		margin-top: 18vw;
	}

	#headTitle {
		font-size: 6vw;
		margin-top: -12vw;
	}
	
	#headSubtitlePh {
		font-size: 4.5vw;
		color:#393839"
	}
	
	#savedTxt{
		font-size: 4.5vw;
		/* color: rgb(21, 182, 21); */
		color: #4FCF00;
		margin-top: 2vw;
	}
	
	#TxtPrice {
		margin-top: 2vw;
		font-size: 6vw;
		display: inline-block;
	}
	
	#TxtFullPrice{
		font-size: 6vw;
		color:dimgray;
		margin-left: 2vw;
	}
	
	#discountTxt {
		/* color: rgb(21, 182, 21); */
		color: #4FCF00;
		font-size: 6vw;
		margin-left: 2vw;
	}
	
	#validityTxt{
		font-size: 5vw;
		margin-top: 1.25vw;
	}

	
	#trialBtn {
		font-family: serif;
		font-size: 4.5vw;
		border-radius: 8px;
		text-transform: uppercase;
		background-color:black;
		color:white;
		margin-top: 3vw;
		border: none;
		padding:2vw;
	}

	#whiteStrip {
		height: 20vw
	}

	
#logOutTxt {
	color: white;
	font-size: 5vw;
	font-family: 'Times New Roman', Times, serif;
	text-decoration: none;
}

#username {
	margin-bottom: 1vw;
	font-family: cursive;
	text-decoration: none;
	font-size: 5vw;
	color:white;
	margin-left:9vw;
}

#userImage {
	height: 24vw;
	width: 24vw;
}
	

}