#divQuestionSubmit{
	position: absolute;
	margin-top: 8.5vw;
	width:80vw;
	margin-bottom: 10vw;
	
	height: 180vw;
	margin-left: 10vw;
	padding: 3vw;

	background: white
	
}

@media only screen and (max-width:768px){
	#divQuestionSubmit{
		position: absolute;
		margin-top: 20vw;
		width:80vw;
		margin-bottom: 10vw;
		
		height: fit-content;
		margin-left: 10vw;
		padding-top: 5vw;
	
		background: white
		
	}

}