#questionImage {
	height:27vw;
	width:36vw;
	border-radius: 0.5vw;
}

#quesImgContainer {
	height:27vw;
	width:36vw;
	overflow: hidden;
	margin-left: 61.5vw;
	margin-top: 0vw;
	border-radius: 0.5vw;
}

#quesNumRv{
	font-family: 'Alegreya', serif;
	font-size: 1.5vw;
	margin-left: 2vw;
	margin-top: 2vw;
	font-weight: 900;
	color: orange
}

#quesNum{
	font-family: 'Alegreya', serif;
	font-size: 1.5vw;
	margin-left: 2vw;
	margin-top: 10vw;
	font-weight: 900;
	color: orange
}

#questionWithImg {
	font-family: 'Sans Serif Pro';
	font-size: 1.5vw;
	margin-left: 2vw;
	margin-top: -26vw;
	width:55vw;
	height: fit-content;
}

#questionNoImg {
	font-family: 'Sans Serif Pro';
	font-size: 1.5vw;
	margin-left: 2vw;
	margin-top: 1vw;
	width: 55vw;
	height: fit-content;
}

#OptionsTxt{
	font-weight: 900;
	font-family: 'Alegreya', serif;
	font-size: 1.5vw;
	margin-left: 2vw;
	margin-top: 4vw;
	color:indigo ;
}

#Options{
	margin-left: 2vw;
	width:55vw;
}

#twoSec {
	height: fit-content;
	margin-top: 7.35vw;
}

#optionsSec {
	height: fit-content;
	margin-bottom: 3vw;
}

#optionsA {
	box-shadow: 2px 2px 2px 2px #bbb;
	font-family: 'Alegreya', serif;
	font-size: 1.5vw;
	padding: 0.8vw;
	border-radius: 8px;
	margin-top:1vw;
}


#optionsB {
	box-shadow: 2px 2px 2px 2px #bbb;
	font-family: 'Alegreya', serif;
	font-size: 1.5vw;
	padding: 1vw;
	border-radius: 8px;
	margin-top:1.5vw;
}

#optionsC {
	box-shadow: 2px 2px 2px 2px #bbb;
	font-family: 'Alegreya', serif;
	font-size: 1.5vw;
	padding: 1vw;
	border-radius: 8px;
	margin-top:1.5vw;

}

#optionsD {
	box-shadow: 2px 2px 2px 2px #bbb;
	font-family: 'Alegreya', serif;
	font-size: 1.5vw;
	padding: 1vw;
	border-radius: 8px;
	margin-top:1.5vw;
}

#optionsA:hover {
	box-shadow: 0.5px 0.5px 2.5px 2.5px purple;
	cursor: pointer;
}

#optionsB:hover {
	box-shadow: 0.5px 0.5px 2.5px 2.5px purple;
	cursor: pointer;
}

#optionsC:hover {
	box-shadow: 0.5px 0.5px 2.5px 2.5px purple;
	cursor: pointer;
}

#optionsD:hover {
	box-shadow: 0.5px 0.5px 2.5px 2.5px purple;
	cursor: pointer;
}

#NextQuesBtn, #submitAnsBtn, #NextQuesBtnRv {
	font-family: 'Alegreya', serif;
	margin-left: 72vw;
	font-size: 1.75vw;
	border-radius: 8px;
	margin-top:33vw; 
	padding-left: 1vw;
	padding-right: 1vw;
	padding-bottom: 0.5vw;
	padding-top: 0.5vw;
	position: fixed;
	background-size: 300% 300%;
	box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
	background-image: linear-gradient(to right, hsla(313, 88%, 54%, 0.452) 0%, #3F76FF 50%, hsla(313, 88%, 54%, 0.452) 100%);
  	transition: 0.5s;
	color: white;
	text-transform: uppercase;
}

#NextQuesBtnRv {
	margin-top: 42vw;
	margin-left: 74vw;
}

#submitAnsBtn:hover, #NextQuesBtn:hover{
	background-position: right center;
}

#submitForm {
	position: fixed
}

#ExpImgA, #ExpImgB, #ExpImgC, #ExpImgD  {
	margin-top: 1vw;
	height: 15vw;
	width: 20vw;
	border-radius: 0.5vw;
}

#ExpA, #ExpB, #ExpC, #ExpD {
	margin-top: 1vw;
}

#themesBtn {
	margin-left: 55vw;
	margin-top: 2vw;
	font-family: 'Quicksand';
	position: absolute;
	font-size: 1.15vw;
	padding-left: 1vw;
	padding-right: 1vw;
}

#quesNum, #quesNumRv, #questionWithImg, #questionNoImg, #OptionsTxt, #ExpA, #ExpB, #ExpC #ExpD, #optionsA, #optionsB, #optionsC, #optionsD {
	font-family: 'Alegreya', serif;
}

#AnsFeedback {
	background-color: aqua;
	margin: auto;
	width: 50%;
	font-family: 'Alegreya', serif;
	font-size: 1.5vw;
	padding: 0.25vw;
	visibility: hidden;
	text-align: center
}

#feedbackImgCorrect, #feedbackImgCorrect2, #feedbackImgCorrect3, #feedbackImgCorrect4, #feedbackImgWrong{
	height: 8vw;
	width: 8vw;
	position: fixed;
	margin-left: 63vw;
	visibility: hidden;
	margin-top: -7.45vw;
	z-index: 1;
	animation: linear infinite;
	animation-name: run;
	animation-duration: 3s;
    -webkit-animation: linear infinite;
    -webkit-animation-name: run;
    -webkit-animation-duration: 3s;
}
@keyframes run {
	0% {
	  left: 0;
	}
	50% {
	  left: 5%;
	}
	100% {
	  left: 0;    
	}
}
@-webkit-keyframes run {
	0% {
	  left: 0;
	}
	50% {
	  left: 5%;
	}
	100% {
	  left: 0;    
	}
}

#feedbackImgWrong{
	margin-top: -6.5vw;
}

#endPracticeBtn {
	position: absolute;
	font-size: 1.25vw;
	font-family: 'Alegreya', serif;
	margin-left: 17vw;
	margin-top: 2vw;
	border-radius: 1vw;
	background-size: 300% 300%;
	box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
	background-image: linear-gradient(to right, rgb(252, 93, 119) 0%, yellow 50%, rgb(252, 93, 119) 100%);
  	transition: 0.5s;
	color: white;
}

#endPracticeBtn:hover{
	background-position: right center;
}

@media only screen and (max-width:600px){

	#QuarksLogo{
		margin-left: -4vw;
		height: 12.5vw;
		width: 12.5vw;
		margin-top:1.25vh;
	}
	
	#nameQuarks{
		font-family: 'Quicksand';
		font-size: 10vw;
		text-decoration: none;
		margin-left: -4vw;
		color:black;
		position:absolute;
	}

	#questionImage {
		height:72vw;
		width:96vw;
		border-radius: 0.5vw;
	}
	
	#quesImgContainer {
		height:72vw;
		width:96vw;
		overflow: hidden;
		margin-left: 2vw;
		border-radius: 0.5vw;
		margin-left: 2vw;
	}

	#quesNum, #quesNumRv {
		margin-left: 2vw;
		margin-top: 22vw;
		font-weight: 900;
		margin-bottom: 5vw;
		color: orange
	}
			
	#questionWithImg {
		margin-left: 4vw;
		margin-top: 10vw;
		width:96vw;
		height: fit-content;
	}

	#questionNoImg {
		margin-left: 4vw;
		width: 96vw;
		height: fit-content;
	}

	#OptionsTxt{
		font-weight: 900;
		margin-left: 4vw;
		margin-top: 4vw;
		color:indigo ;
	}

	#Options{
		margin-left: 4vw;
		width:92vw;
	}

	#optionsA {
		box-shadow: 2px 2px 2px 2px #bbb;
		padding: 3vw;
		border-radius: 8px;
		margin-top:5vw;
	}
	
	
	#optionsB {
		box-shadow: 2px 2px 2px 2px #bbb;
		padding: 3vw;
		border-radius: 8px;
		margin-top:5vw;
	}
	
	#optionsC {
		box-shadow: 2px 2px 2px 2px #bbb;
		padding: 3vw;
		border-radius: 8px;
		margin-top:5vw;
	
	}
	
	#optionsD {
		box-shadow: 2px 2px 2px 2px #bbb;
		padding: 3vw;
		border-radius: 8px;
		margin-top: 5vw;
	}

	#quesNum, #quesNumRv, #questionWithImg, #questionNoImg, #OptionsTxt, #ExpA, #ExpB, #ExpC #ExpD, #optionsA, #optionsB, #optionsC, #optionsD {
		font-family: 'Alegreya', serif;
		font-size: 5vw;
	}
	
	#NextQuesBtn, #submitAnsBtn, #submitAnsBtnPh, #NextQuesBtnPh {
		font-family: 'Alegreya', serif;
		margin-left: 0vw;
		font-size: 5vw;
		border-radius: 8px;
		width: 100vw;
		padding-bottom: 2.5vw;
		padding-top: 2.5vw;
		position: fixed;
		background-size: 300% 300%;
		box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
		background-image: linear-gradient(to right, hsla(313, 88%, 54%, 0.452) 0%, #3F76FF 50%, hsla(313, 88%, 54%, 0.452) 100%);
		transition: 0.5s;
		color: white;
		text-transform: uppercase;
	}

	#AnsFeedback {
		background-color: aqua;
		width: 100%;
		font-family: 'Alegreya', serif;
		font-family: 'Concert One', cursive;
		font-family: 'Lora', serif;
		font-size: 4.25vw;
		margin-top: 20vw;
		margin-bottom: -15vw;
		padding-top: 5vw;
		padding-bottom: 5vw;
		visibility: hidden;
		text-align: center;
	}

	#feedbackImgCorrect, #feedbackImgCorrect2, #feedbackImgCorrect3, #feedbackImgCorrect4{
		height: 26vw;
		width: 26vw;
		position: absolute;
		margin-left: 55vw;
		visibility: hidden;
		margin-top: 12vw;
		z-index: 0;
	}

	#feedbackImgWrong {
		height: 26vw;
		width: 26vw;
		position: absolute;
		visibility: hidden;
		margin-top: 13vw;
		margin-left: 50vw;
		z-index: 0;
	}

	#themesBtnPh {
		margin-left: 80vw;
		margin-top: -12vw;
		font-family: 'Quicksand';
		position: absolute;
		font-size: 3vw;
	}

	#endPracticeBtn {
		position: absolute;
		font-size: 4vw;
		font-family: 'Alegreya', serif;
		right:2vw;
		margin-top: 4.5vw;
		border-radius: 1vw;
		background-size: 300% 300%;
		box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
		background-image: linear-gradient(to right, rgb(252, 93, 119) 0%, yellow 50%, rgb(252, 93, 119) 100%);
		transition: 0.5s;
		color: white;
	}

	#optionsSec {
		height: fit-content;
		margin-bottom: 3vw;
	}

	#ExpImgA, #ExpImgB, #ExpImgC, #ExpImgD  {
		margin-top: 1vw;
		height: 60vw;
		width: 80vw;
		border-radius: 1vw;
	}

	#optionsA:hover {
		box-shadow: 2px 2px 2px 2px #bbb;
		cursor: pointer;
	}
	
	#optionsB:hover {
		box-shadow: 2px 2px 2px 2px #bbb;
		cursor: pointer;
	}
	
	#optionsC:hover {
		box-shadow: 2px 2px 2px 2px #bbb;
		cursor: pointer;
	}
	
	#optionsD:hover {
		box-shadow: 2px 2px 2px 2px #bbb;
		cursor: pointer;
	}
	
	
}