#div1OTP{
	position: absolute;
	margin-top: 10vw;
	width:60vw;
	border-radius: 0.5vw;
	height: 35vw;
	margin-left: 20vw;
	padding: 4vw;

	background: #19131d;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);

/*	background:-moz-linear-gradient(top, purple 0%, red 100%); 
    background: -webkit-linear-gradient(top, purple 0%,purple 100%); 
	background: linear-gradient(to bottom, #bbb 0%, purple 100%);*/
	
}

#verifyOTPTxt {
	font-family: 'Alegreya', serif;
	text-align: center;
	font-size: 2vw;
	color: yellow;
}

#ResendTxt {
	font-size: 1.5vw;
	color: white;
	margin-top: 1.5vw;
	font-family: 'Raleway';
}

#ResendTxt:hover {
	cursor: pointer;
}

#submitBtn {
	font-size: 1.75vw;
	font-family: 'Alegreya', serif;
	margin-top: 2vw;
	border-radius: 0.5vw;
	background-size: 300% 300%;
	box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
	background-image: linear-gradient(to right, hsla(313, 88%, 54%, 0.452) 0%, #3F76FF 50%, hsla(313, 88%, 54%, 0.452) 100%);
	transition: 0.5s;
	color: white;
	text-transform: uppercase;
}

#submitBtn:hover{
	background-position: right center;
}


#digit-1, #digit-2, #digit-3, #digit-4, #digit-5, #digit-6 {
	width: 5%;
	height: 3vw;
    text-align: center;
    font-size: 24px;
    margin-top: 3vw;
}

#digit-1:focus, #digit-2:focus, #digit-3:focus, #digit-4:focus, #digit-5:focus, #digit-6:focus {
    outline: none !important;
    border:1px solid yellow;
    box-shadow: 0 0 10px yellow;
    font-size: 1.5vw
}

#TxtOtp {
	margin-top: 2vw;
	font-family: 'Raleway';
	font-size: 1.5vw;
	color:white
}
	

#splitter {
		padding: 0 5px;
		color: white;
		font-size: 2vw;
	}

.prompt {
	margin-bottom: 20px;
	font-size: 20px;
	color: white;
}

@media only screen and (max-width:768px){

	#QuarksLogo{
		margin-left: -4vw;
		height: 12.5vw;
		width: 12.5vw;
		margin-top:1.25vh;
	}

	#nameQuarks{
		font-family: 'Quicksand';
		font-size: 10vw;
		text-decoration: none;
		margin-left: -4vw;
		color:black;
		position:absolute;
	}

	#div1OTP{
		position: absolute;
		margin-top: 21vw;
		width:96vw;
		font-size: 5vw;		
		height: 176vw;
		margin-left: 2vw;
		padding: 3vw;
		border-radius: 2vw;
	}

	
	#digit-1, #digit-2, #digit-3, #digit-4, #digit-5, #digit-6 {
		width: 10vw;
		height: 10vw;
		text-align: center;
		font-size: 6vw;
		margin-top: 10vw;
	}

	#digit-1:focus, #digit-2:focus, #digit-3:focus, #digit-4:focus, #digit-5:focus, #digit-6:focus {
		outline: none !important;
		border:1px solid yellow;
		box-shadow: 0 0 10px yellow;
		font-size: 5vw
	}

	#TxtOtp {
		margin-top: 10vw;
		font-family: 'Alegreya', serif;
		font-size: 5vw;
		color:white
	}

	#submitBtn {
		font-family: 'Alegreya', serif;
		font-size: 5vw;
		border-radius: 8px;
		width: 90vw;
		padding-bottom: 2.5vw;
		padding-top: 2.5vw;
		background-size: 300% 300%;
		box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
		background-image: linear-gradient(to right, hsla(313, 88%, 54%, 0.452) 0%, #3F76FF 50%, hsla(313, 88%, 54%, 0.452) 100%);
		transition: 0.5s;
		color: white;
		text-transform: uppercase;
	}

	#verifyOTPTxt {
		font-family: 'Alegreya', serif;
		text-align: center;
		font-size: 6vw;
		color: yellow;
		margin-top: 20vw;
	}
	
	#ResendTxt {
		font-size: 5vw;
		color: white;
		margin-top: 10vw;
		font-family: 'Raleway';
	}
	
}